
$theme-blue: #134F5C;
$theme-blue-hover: #023F4B;

$font-body: "Open Sans", "Arial", sans-serif;
$font-heading: "Open Sans Condensed", "Arial", sans-serif;
$font-heading-light: "Open Sans Condensed", "Arial", sans-serif;
$font-size-body: 14px;


