
#theme {
  height: 30.6rem;
  background: url("../../images/AVOP_teema.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 3rem;

  #logo {
    margin-top: 50px;

    img {
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  #haka-login {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    h4 {
      font-size: 2rem;
      color: black;
    }
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 100%;
    word-wrap: break-word;
    img {
      max-width: 100%;
      box-sizing: border-box;
    }
  }

}

.vipunen img{
  width: 200px;
  margin-bottom: 20px;
}

@media (max-width: 400px) {

}
