
#theme {
  height: 30.6rem;
  background: url("../../images/AVOP_teema.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-bottom: 3rem;

  #logo {
    margin-top: 50px;

    img {
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  #haka-login {
    margin-top: 30px;

    h4 {
      font-size: 2rem;
      color: black;
    }
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    min-width: 200px;
    word-wrap: break-word;
  }

}


@media (max-width: 750px) {
  #theme {
    margin-bottom: 2rem;

    #haka-login {
      h4 { font-size: 1.6rem !important; }
      p { font-size: 1.3rem !important; }
      img { height: 50px; }
    }
  }
}

@media (max-width: 550px) {
  #theme {
    margin-bottom: 2rem;
    height: 25.6rem;
    #logo {
      img {
        height: 75px;
      }
    }

    #haka-login {
      h4 { font-size: 1.4rem !important; }
      p { font-size: 1.2rem !important; }
    }
  }


  #haka-login h4 {
    //font-size: 1.6rem !important;
  }
}


@media (max-width: 400px) {
  #theme {
    margin-bottom: 2rem;
    height: 25.6rem;
    #logo {
      img {
        height: 100px;
      }
    }
  }
}
