
.organization-row {
  margin-bottom: 4rem;

  .organization {
    .description {
      margin-bottom: 0;
    }

    img {
      max-width: 60%;
    }
  }
}

.content-section {
  padding-top: 2rem;
}

@media (max-width: 850px) {
  #theme {
    margin-bottom: 2rem;
  }
}

