# NameVirtualHost *:443
<VirtualHost *:443>
    ServerName {{ apache.server_name }}

    DocumentRoot /var/www/html/dist

    LogLevel warn
    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
    SSLCertificateFile /etc/pki/tls/certs/{{ apache.certificate }}
    SSLCertificateKeyFile /etc/pki/tls/private/{{ apache.certificate_key }}
    SetEnvIf User-Agent ".*MSIE.*" \
    nokeepalive ssl-unclean-shutdown \
    downgrade-1.0 force-response-1.0

    CustomLog logs/ssl_request_log \
    "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

    #ProxyPass        /api ajp://{{ apache.appserver }}:8009
    #ProxyPassReverse /api ajp://{{ apache.appserver }}:8009
    
    ProxyPass        /api http://{{ apache.appserver }}:3000/api
    ProxyPassReverse /api http://{{ apache.appserver }}:3000/api

    # Shibboleth config
    <Location />
        AuthType shibboleth
        Require shibboleth
    </Location>
    <Location /auth>
        AuthType shibboleth
        ShibRequireSession On
{% if environment_id == "dev" %}
# enable when tomcat works
#        ShibUseHeaders On
{% endif %}
        ShibUseHeaders On
        require valid-user
    </Location>
    
    <Location /api>
        AuthType shibboleth
        ShibRequireSession On
{% if environment_id == "dev" %}
# enable when tomcat works
#        ShibUseHeaders On
{% endif %}
        ShibUseHeaders On
        require valid-user
    </Location>
    
</VirtualHost>

# Redirect http to https
<VirtualHost *:80>
    ServerName {{ apache.server_name }}
    Redirect / https://{{ apache.server_name }}/
</VirtualHost>
