#languages {
  margin-top: 30px;
  margin-bottom: 10px;
  float: right;
  span {
    margin-right: 20px;
  }
}

/* Larger than mobile */
@media (max-width: 550px) {
  #languages {
    float: none;
    margin-top: 0;
    span {
      text-align: center;
      display: block;
    }
  }
}
