JAVA_OPTS="$JAVA_OPTS -Dvirta-tunnus=avopfi 
-Dvirta-jarjestelma=avopfi -Dvirta-salaisuus={{ virta_secret }}
-Dvirta-url={{ virta_url }} 
-Dopintopolku-base-url={{ opintopolku_base_url }}
-Darvo-api-url={{ arvo_api_url }}
-Darvo-answer-url={{ arvo_answer_url }}
-Darvo-jwt-secret={{ arvo_jwt_secret }}
{% if is_dev is defined %}-Dis-dev={{ is_dev }}{% endif %} 
-Ddatabase-url='jdbc:postgresql://localhost/{{ postgresql_avop_database }}?user={{ postgresql_avop_user}}&password={{ postgresql_avop_password }}'"